@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$tablet-breakpoint: 600px;
$laptop-breakpoint: 840px;

:root {
    --md-sys-color-surface-container-light: #F3EDF7;
    --md-sys-color-surface-tint-light: #6750A4;
    --md-sys-color-shadow-light: #000000;
    --md-sys-color-on-secondary-container-light: #1d192b;
    --md-sys-color-on-secondary-container-opacity-008-light: rgba(29, 25, 43, 0.08);
    --md-sys-color-on-surface-light: #1d1b20;
    --md-sys-color-on-surface-opacity-008-light: rgba(29, 27, 32, 0.08);
    --md-sys-color-on-surface-variant-light: #49454F;
    --md-sys-color-secondary-container-light: #E8DEF8;

    --md-sys-color-surface-container-dark: #211F26;
    --md-sys-color-surface-tint-dark: #D0BCFF;
    --md-sys-color-shadow-dark: #000000;
    --md-sys-color-on-secondary-container-dark: #e8def8;
    --md-sys-color-on-secondary-container-opacity-008-dark: rgba(232, 222, 248, 0.08);
    --md-sys-color-on-surface-dark: #E6E0E9;
    --md-sys-color-on-surface-opacity-008-dark: rgba(230, 224, 233, 0.08);
    --md-sys-color-on-surface-variant-dark: #CAC4D0;
    --md-sys-color-secondary-container-dark: #4A4458;

    --header-bg-light: #e7dff8;  
    --main-bg-light: #fffbff;    
    --footer-bg-light: #cbc3dc;

    --header-bg-dark: #494458;
    --main-bg-dark: #1c1b1e;
    --footer-bg-dark: #cbc3dc;

    --font-family-icons: 'Material Icons';
    --font-family-icons-outlined: 'Material Symbols Outlined';

    @media (prefers-color-scheme: light) {
        --md-sys-color-surface-container: var(--md-sys-color-surface-container-light);
        --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-light);
        --md-sys-color-shadow: var(--md-sys-color-shadow-light);
        --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light);
        --md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
        --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light);
        --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light);
        --md-sys-color-on-surface-opacity-008: var(--md-sys-color-on-surface-opacity-008-light);
        --md-sys-color-on-secondary-container-opacity-008: var(--md-sys-color-on-secondary-container-opacity-008-light);

        --header-bg: var(--header-bg-light);
        --main-bg: var(--main-bg-light);
        --footer-bg: var(--footer-bg-light);
    }

    @media (prefers-color-scheme: dark) {
        --md-sys-color-surface-container: var(--md-sys-color-surface-container-dark);
        --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-dark);
        --md-sys-color-shadow: var(--md-sys-color-shadow-dark);
        --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark);
        --md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
        --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark);
        --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark);
        --md-sys-color-on-surface-opacity-008: var(--md-sys-color-on-surface-opacity-008-dark);
        --md-sys-color-on-secondary-container-opacity-008: var(--md-sys-color-on-secondary-container-opacity-008-dark);

        --header-bg: var(--header-bg-dark);
        --main-bg: var(--main-bg-dark);
        --footer-bg: var(--footer-bg-dark);
    }

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
}

.container {
    --_template-columns: 1fr;
    --_template-rows: 120px 1fr 80px 120px;
    --_template-areas: 'header' 'main' 'nav' 'footer';

    @media(min-width: $tablet-breakpoint) {
        --_template-columns: 80px 1fr;
        --_template-rows: 100px 1fr 100px;
        --_template-areas: 'nav header' 'nav main' 'nav footer';
    }

    @media (min-width: $laptop-breakpoint) {
        --_template-columns: 360px 1fr;
    }

    height: 100vh;

    display: grid;
    grid-template-columns: var(--_template-columns);
    grid-template-rows: var(--_template-rows);
    grid-template-areas: var(--_template-areas);
}

.header {
    grid-area: header;
    background-color: var(--header-bg);
}

.main {
    grid-area: main;
    background-color: var(--main-bg);
}

.footer {
    grid-area: footer;
    background-color: var(--footer-bg);
}

.navigation-section{
    background-color: var(--md-sys-color-surface-container);
    grid-area: nav;

    &__title {
        display: none;

        @media (min-width: $laptop-breakpoint) {
            display: flex;
            height: 56px;
            padding: 8px 8px 8px 16px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
            color: var(--md-sys-color-on-surface-variant);
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.1px;
        }
    }
}

.navigation {
    --_width: 100vw;
    --_gap: 8px;
    --_template-columns: repeat(4, 1fr);
    --_padding: 12px 0 16px 0;

    @media (min-width: $tablet-breakpoint) {
        --_width: 80px;
        --_template-columns: 1fr;
        --_gap: 12px;
        --_padding: 16px 0;
        grid-auto-rows: 56px;
    }

    @media (min-width: $laptop-breakpoint) {
        --_width: 360px;
        --_gap: 0;
        --_padding: 0px 12px;
    }

    display: grid;
    grid-template-columns: var(--_template-columns);
   
    gap: var(--_gap);
    justify-content: space-evenly;
    width: var(--_width);
    padding: var(--_padding);
    background-color: var(--md-sys-color-surface-container);
  
    &__item {
        --_flex-direction: column;
        --_gap: 4px;
  
        min-width: 48px;
        display: flex;
        flex-direction: var(--_flex-direction);
        align-items: center;
        gap: var(--_gap);

        cursor: pointer;
        
        @media (min-width: $tablet-breakpoint) {
            height: 56px;
        }

        @media (min-width: $laptop-breakpoint) {
            --_flex-direction: row;
            --_gap: 12px;
            padding: 16px 24px 16px 16px;
            flex: 1 0 0;
            align-self: stretch;
            border-radius: 100px;
        }

        &:hover {
            .navigation__icon {
                font-family: var(--font-family-icons);
                color: var(--md-sys-color-on-surface-variant);
                background-color: var(--md-sys-color-on-surface-opacity-008);

                @media (min-width: $laptop-breakpoint) {
                    background-color: transparent;
                }
            }

            .navigation__lable {
                color: var(--md-sys-color-on-surface-variant);
            }

            @media (min-width: $laptop-breakpoint) {
                background-color: var(--md-sys-color-on-surface-opacity-008);
            }
        }

        &--active {
            &:hover {
                .navigation__icon {
                    color: var(--md-sys-color-on-secondary-container);
                    background-color: var(--md-sys-color-on-secondary-container-opacity-008);
                    
                    @media (min-width: $laptop-breakpoint) {
                        background-color: transparent;
                    }
                }
    
                .navigation__lable {
                    color: var(--md-sys-color-on-surface);
                }
            }

            .navigation__icon {
                font-family: var(--font-family-icons);
                color: var(--md-sys-color-on-surface);
                background-color: var(--md-sys-color-secondary-container);
            }

            .navigation__lable {
                color: var(--md-sys-color-on-surface);
                font-weight: 600;
            }

            @media (min-width: $laptop-breakpoint) {
                background-color: var(--md-sys-color-secondary-container);
            }
        }
    }

    &__icon {
        width: 64px;
        height: 32px;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--md-sys-color-on-surface-variant);
        
        font-family: var(--font-family-icons-outlined);
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-smoothing: antialiased;

        @media (min-width: $tablet-breakpoint) {
            width: 56px;
            border-radius: 100px;
            padding-inline: 16px;
        }

        @media (min-width: $laptop-breakpoint) {
            width: 24px;
            border-radius: 0;
            padding-inline: 0;
        }
    }

    &__lable {
        --_font-size: 12px;
        --_letter-spacing: .5px;
        --_line-height: 16px;

        @media (min-width: $laptop-breakpoint) {
            --_font-size: 14px;
            --_letter-spacing: .1px;
            --_line-height: 20px;
        }

        font-weight: 500;
        line-height: var(--_line-height);
        font-size: var(--_font-size);
        letter-spacing: var(--_letter-spacing);
        color: var(--md-sys-color-on-surface-variant);
    }
}